<div class="row">
    <div class="col-md-6 col-md-offset-3  ">
        <h3><b>Top Trending Videos by Keywords</b></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-3 ">
        <input type="text" id="searchKey" placeholder="Search" style="width: 100%" x-webkit-speech>
    </div>
    <div class="col-md-4">
        <button class="btn btn-info" ng-click="searchVideo()">Show me!</button>
    </div>
</div>
<div class="row">
    <div id="ifrYT" class="col-md-offset-3" >
        <!--http://www.youtube.com/embed/{{ YTvid }}-->
        <iframe type="text/html" ng-repeat="id in videoIdList" width="640" height="390" ng-src="{{ id.vurl }}" frameborder="0"></iframe>
    </div>
</div>